@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="https://icons.iconarchive.com/icons/elegantthemes/beautiful-flat-one-color/128/plane-icon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c805f5e37c.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - Destino Certo</title>
</head>
<body>
    <header>
        <div class="g-h">
            <div class="dp">
                <div class="l-p">
                    <i class="fas fa-plane-departure"></i>
                    <a class="span-l" asp-area="" asp-controller="Home" asp-action="Index">Destino <mark>Certo</mark></a>
                </div>
                <div class="m-p">
                    <ul class="ul-g ul">
                        <li>
                            <a class="r-li" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="r-li" asp-area="" asp-controller="Home" asp-action="Vitrine">Vitrine</a>
                        </li>
                        @if(Context.Session.GetInt32("IdUser")!=null){
                            <li>
                                <a class="r-li" asp-area="" asp-controller="Pacotes_Turisticos" asp-action="Lista">Pacotes Cadastrados</a>
                            </li>
                            <li>
                                <a class="r-li" asp-area="" asp-controller="Pacotes_Turisticos" asp-action="CadastroPacotes">Cadastrar Pacotes</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="log-p">
                <ul class="ul-l ul">
                    @if(Context.Session.GetInt32("IdUser")!=null)
                    {
                        <li class="n-ur">
                            <span>
                                Olá, @Context.Session.GetString("NomeUser") | Id @Context.Session.GetInt32("IdUser")
                            </span>
                        </li>
                        <li class="fb-l">
                            <a asp-area="" asp-controller="Usuario" asp-action="LogOut">Log-Out</a>
                        </li>
                    } else {
                        <li class="fb-l">
                            <a asp-area="" asp-controller="Usuario" asp-action="Login">Log-In</a>
                        </li>
                        <li class="fb-l">
                            <a asp-area="" asp-controller="Usuario" asp-action="Cadastro">Cadastre-se</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>
    <div class="body_content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="l-p">
            <i class="fas fa-plane-departure"></i>
            <span class="span-l">Destino <mark class="m-2">Certo</mark></span>
        </div>
        <div class="d-p">
            <span>
                Desenvolvido por: <mark class="m-3">Emily</mark> <mark class="m-4">Felicio</mark>
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>